/*

모든곳에 적용
*{
}

특정 대그들에게만 적용
tagName{
}

특정 클레스들에만 적용
.className{
}

특정 아이디에만 적용
#idName{
}

*/




*{
    margin: 0;
    --fav: rgb(88, 51, 255); /* 이름이 fav이고 값이 rgb(88, 51, 255)인 변수 지정 */
    --mainColor: rgb(23, 22, 27);
    --footerColor: rgb(4, 4, 5);
}

a{
    font-size: 20px; /* 글자 크기를 20px로 설정함 */
    color: white;  /* 색상을 흰색으로 설정함 */
    margin-left:10px;  /* 오른쪽에 마진값을 10px만큼줌 */
    text-decoration: none;  /* 및줄 없앰 */
    transition: all .2s; /* 바뀌는걸 에니메이션처럼 보이게함 */
}
a:hover{
    color: rgb(201, 201, 201);
}


header{
    display: flex; /* display를 flex로 설정해서 오른쪽으로만 정렬되게함 */
    align-items: center; /* 아이템 중앙정렬(상하 기준 , display가 flex또는 grid일때만 작동) */
    background-color: var(--fav); /* 아까 지정한 fav변수 사용 */
    height: 80px; /* 높이를 80px로 설정함 */
}

main{
    display: flex; /* display를 flex로 설정해서 오른쪽으로만 정렬되게함 */
    background-color: var(--mainColor);
    height: 800px;
}

article{
    width: 100%;
}

aside{
    background-color: white;
    width: 200px;
    height: 350px;
}

aside > img{ /* <aside> 안에있는 <img> */
    width: 100%;
}

footer{
    background-color: var(--footerColor);
    color: white;
    padding: 20px;
}